---
import { getCollection, render } from "astro:content";
import { SHOW_BUY_BUTTON } from "astro:env/server";
import Layout from "../layouts/Layout.astro";
import AmazonLogo from "../components/AmazonLogo.astro";
import BookScore from "../components/BookScore.astro";
import SpinnerLoader from "../components/SpinnerLoader.astro";
import BuyButton from "../components/BuyButton.astro";

export const prerender = true;

export async function getStaticPaths() {
  const books = await getCollection("books");
  return books.map((book) => ({
    params: {
      id: book.id,
    },
    props: {
      book,
    },
  }));
}

const { book } = Astro.props;
const { data, id } = book;
const { title, author, img, readtime, description, buy } = data;
const { Content } = await render(book);
---

<Layout title=`${title} - Dev Books`>
  <div class="flex gap-12">
    <aside class="flex flex-col items-center gap-4">
      <a href="/" class="hover:underline opacity-70"> ← Volver atras</a>
      <img
        transition:name=`img-${id}`
        class="rounded w-72 h-auto"
        src=`${img}`
        alt={title}
      />
      <BookScore server:defer id={id}>
        <SpinnerLoader slot="fallback" />
      </BookScore>

      {SHOW_BUY_BUTTON && <BuyButton server:defer buy={buy} />}
    </aside>

    <main class="max-w-3xl">
      <h1 transition:name={`title-${title}`} class="text-4xl font-bold mb-4">
        {title}
      </h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>
